###########################################################
### Environment
###########################################################

{{ include "../homebrew/environment.zsh" }}
{{ include "../zsh/environment.zsh" }}
{{ include "../zsh/dracula-syntax-highlighting.zsh" }}
{{ include "../herd/environment.zsh" }}


###########################################################
### Aliases
###########################################################

{{ include "../git/aliases.zsh" }}


###########################################################
### Functions
###########################################################

{{ include "../git/functions.zsh" }}
