sourceDir = "~/.dotfiles"

[data]
    name = "Airbornfoxx"
    email = "kyle@airbornfoxx.com"
    ssh_key_reference = "op://k67fvqxmbms4uke35e7r25fpp4/bxfocxeoq3b7fjgomlrgdlecrm/private key?ssh-format=openssh"
